<%= form_for @user , url: login_path, method: :post, :html => {:class =>  "form-signin"} do |f| %>
  <% if flash[:message] %>
    <%= flash[:message] %>
    <% end %>
<!--  <% if @user.errors.any? %>

    <div id="error_explanation">
      <h2>
        There were some errors that prohibited this post from login you in:
      </h2>
  <% end %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %> -->

  <h1 class="h3 mb-3 font-weight-normal">Login</h1>
  <%= f.label :username%>
  <%= f.text_field :username ,class: "form-control"%>
  <br><br>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control"%>
  <br>

  <%= f.submit 'Login', class: "btn btn-lg btn-primary btn-block"%>
<% end %>
