<h1>Welcome <%= @current_user.name %>!</h1>

<% if !@current_user.pets.empty? %>
   <h3>Here are your pet's</h3>
   <ul>
    <% @current_user.pets.each do |pet| %>
      <li>
        <%= link_to pet.name, pet_path(pet.id)  %> - <%= pet.species %> |
         <%= link_to "Delete", pet, method: :delete, data: { confirm: "Really?" } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Want to add some friend of yours?</p>
  <p><%= link_to 'Add Pet', new_pet_path %></p>
<% end %>
