<h1>User Information</h1>


<h3><%= @current_user.name %></h3>

<ul>
  <li>User Name: <%= @current_user.username %></li>
  <li>Email: <%= @current_user.email %></li>
  <li>You have <%= pluralize(@current_user.pets.count, "pet") %> profile created</li>
</ul>


<%= link_to 'Update Profile', edit_user_path(@current_user) %>
