<h1>Welcome <%= @current_user.name %>!</h1>

<% if !@current_user.pets.empty? %>
    <p>Add Pet <%#link_to %> </p>
   <p>Here are your pet's</p>
   <ul>
    <% @current_user.pets.each do |pet| %>
      <li>
        <%= link_to pet.name, pet_path(pet.id)  %> | <%= pet.species %> |
         <%= link_to 'Delete', pet_path(pet.id) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Add Pet <%#link_to %> </p>
<% end %>


<%= link_to 'Log Out', logout_path %>
