<!DOCTYPE html>
<html>
  <head>
    <title>PetsDietUnleashed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav id="nav_bar">
    <% if @current_user %>
      <%= link_to 'Home', pets_path %>
      <%= link_to 'Add Pet', new_pet_path %>
      <%= link_to 'Profile', user_path(@current_user.id) %>
      <%= link_to 'Log Out', logout_path %>
    <% end %>
  </nav>

    <%= yield %>


  </body>

</html>
